#dialog-container {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50000;
}
#dialog-container .dialog-main {
  padding: 30px;
  height: calc(100% - 60px);
}
#dialog-container .dialog-main .dialog-close {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  transform: rotate(45deg);
  border: 1px solid #eee;
  border-radius: 50%;
}
#dialog-container .dialog-main .dialog-close::before,
#dialog-container .dialog-main .dialog-close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ddd;
}
#dialog-container .dialog-main .dialog-close::before {
  width: 2px;
  height: 24px;
}
#dialog-container .dialog-main .dialog-close::after {
  width: 24px;
  height: 2px;
}
#dialog-container .dialog-main .dialog-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-size: 0;
}
#dialog-container .dialog-main .dialog-content .dialog-content-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#dialog-container .dialog-main .dialog-content .dialog-content-list:not(:first-child) {
  margin-left: 10px;
}
#dialog-container .dialog-main .dialog-content .dialog-content-list .dialog-content-list-item {
  float: none;
  font-size: 16px;
  text-align: center;
}
