#dialog-container {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 50000;

    .dialog-main {
        padding: 30px;
        height: calc(100% - 60px);

        input,
        button {
            padding: revert;
            font-size: 16px;
            border: 1px solid #111;
        }

        .dialog-close {
            position: absolute;
            top: 2px;
            right: 2px;
            width: 26px;
            height: 26px;
            cursor: pointer;
            transform: rotate(45deg);
            border: 1px solid #eee;
            border-radius: 50%;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: red;
            }

            &::before {
                width: 2px;
                height: 24px;
            }

            &::after {
                width: 24px;
                height: 2px;
            }
        }

        .dialog-content-wrap {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #fff;
            overflow-y: auto;

            .dialog-content {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                padding-top: 70px;
                width: 100%;
                font-size: 0;
                box-sizing: border-box;

                .dialog-content-list-box {
                    display: flex;
                    flex-wrap: wrap;
                }

                .dialog-content-total-box {
                    display: flex;
                    flex-wrap: wrap;
                }

                .dialog-content-list {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    min-width: 90px;

                    &:not(:first-child) {
                        margin-left: 10px;
                    }

                    .dialog-content-list-item {
                        float: none;
                        font-size: 16px;
                        text-align: center;
                    }
                }
            }

            .dialog-set-param {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 60px;

                .set-param-box {
                    display: grid;
                    place-items: center; /* 同时水平和垂直居中 */
                    width: 100%;
                    height: 100%;

                    #dialog-set-param-button {
                        font-size: 16px;
                    }
                }
            }
        }

        .dialog-set-param-popup {
            display: none;
            position: absolute;
            top: 30px;
            left: 30px;
            width: calc(100% - 60px);
            height: calc(100% - 60px);
            background-color: rgba(0, 0, 0, 0.7);

            .dialog-set-param-wrap {
                display: flex;
                justify-content: space-around;
                width: 100%;
                height: 100%;
                padding: 20px 15px 40px;
                background-color: #fff;
                box-sizing: border-box;

                .dialog-set-item {
                    min-width: 280px;
                    padding: 0 5px;

                    .item-row-p {
                        position: relative;
                        margin: 0;
                        padding: 5px 0;
                        height: 26px;
                        font-size: 0;

                        &.center-title {
                            text-align: center;
                        }

                        span {
                            font-size: 16px;
                            line-height: 26px;
                        }

                        .span-button {
                            position: absolute;
                            width: 24px;
                            height: 24px;
                            cursor: pointer;
                            border: 1px solid #333;
                            border-radius: 50%;

                            &::before,
                            &::after {
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }

                            &::before {
                                width: 2px;
                                height: 18px;
                            }

                            &::after {
                                width: 18px;
                                height: 2px;
                            }
                        }

                        .delete-row {
                            margin-left: 10px;
                            transform: rotate(45deg);

                            &::before,
                            &::after {
                                background-color: red;
                            }
                        }

                        .add-row {
                            top: 5px;
                            left: 0;

                            &::before,
                            &::after {
                                background-color: lime;
                            }
                        }
                    }
                }

                .dialog-set-time {
                    .time-row {
                    }
                }

                .dialog-set-extra {
                    .extra-row {
                    }
                }

                .dialog-set-keynote {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-auto-rows: auto;
                    gap: 0;

                    .keynote-row {
                        &:first-child {
                            grid-column: 1 / span 2; // 独占首行
                        }

                        // 其余子元素自动两列分布，无需特殊处理
                        input {
                            width: 80px;
                        }
                    }
                }
            }

            .dialog-set-param-button {
                position: absolute;
                bottom: 5px;
                left: 0;
                width: 100%;
                margin: 0;
                display: flex;
                justify-content: space-around;

                button {
                    font-size: 16px;
                }
            }
        }
    }
}
