* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container-main {
    padding: 20px 10px 10px;
    width: 400px;
    min-height: 290px;
}

.default-box {
    font-size: 0;

    .image-box {
        padding: 0 10px;
        width: 380px;
        height: 380px;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            animation: rotate 2s linear 0s infinite;
        }
    }
}

.auto-fully {
    display: none;
    padding: 50px 0;

    .button-box {
        padding-top: 10px;
        text-align: center;

        &:first-child {
            display: none;
        }

        button {
            padding: 0 20px;
            font-size: 20px;
            line-height: 28px;
        }
    }
}

.violation-statistics {
    display: none;

    .violation-statistics-box {
        padding-top: 20px;
        text-align: center;

        button {
            margin-top: 40px;
            padding: 0 20px;
            font-size: 20px;
            line-height: 28px;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
