* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container-main {
    padding: 20px 10px 10px;
    width: 400px;
    min-height: 290px;
}

.default-box {
    font-size: 0;

    .image-box {
        padding: 0 10px;
        width: 380px;
        height: 380px;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            animation: rotate 2s linear 0s infinite;
        }
    }
}

.auto-study {
    display: none;

    .input-box {
        margin-bottom: 10px;
        min-height: 32px;
        font-size: 0;

        span {
            display: inline-block;
            margin-right: 10px;
            padding-top: 4px;
            width: 100px;
            height: 24px;
            font-size: 20px;
            line-height: 24px;
            text-align: right;
            vertical-align: top;
        }

        input {
            width: 180px;
            height: 28px;
            font-size: 24px;
        }

        .symbol {
            display: inline-block;
            margin: 0 2px;
            font-size: 20px;
            line-height: 32px;
            vertical-align: top;
        }
    }

    .select-signup {
        input {
            margin-top: 4px;
            width: 24px;
            height: 24px;
            font-size: 0;
            vertical-align: top;
        }
    }

    .float-range {
        input {
            width: 80px;
        }
    }

    .study-version {
        .version-label {
            display: inline-block;
            height: 32px;
            font-size: 20px;

            input {
                width: 20px;
                height: 20px;
                vertical-align: middle;
            }

            span {
                width: auto;
                margin-left: 2px;
                vertical-align: top;
            }
        }
    }

    .button-box {
        padding-top: 10px;
        text-align: center;

        button {
            padding: 0 20px;
            font-size: 20px;
            line-height: 28px;
        }
    }
}

.auto-exam {
    display: none;
    padding: 15px 0;

    .exam-options {
        padding-bottom: 10px;

        .exam-scores {
            padding: 0 20px;

            .scores-label {
                display: inline-block;
                margin-right: 5px;
                margin-bottom: 5px;
                height: 32px;

                input {
                    margin-top: 6px;
                    width: 20px;
                    height: 20px;
                    vertical-align: top;
                }

                span {
                    display: inline-block;
                    margin-top: 4px;
                    margin-left: 2px;
                    vertical-align: top;
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }

    .select-button-box {
        .button-box {
            padding-bottom: 20px;
            text-align: center;

            button {
                padding: 0 20px;
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
}

.violation-statistics {
    display: none;

    .violation-statistics-box {
        padding-top: 20px;
        text-align: center;

        button {
            margin-top: 40px;
            padding: 0 20px;
            font-size: 20px;
            line-height: 28px;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
